In [1]:
# ----------------------------------------------------------------------
# Source: https://github.com/BorisMaillard/CJ_Mobility_Visualization
# Please feel free to contact me if you have any questions
# Boris Maillard (boris.maillard@gmail.com)
# ----------------------------------------------------------------------
# Resources:
#   https://pbpython.com/pandas-pivot-table-explained.html
# ----------------------------------------------------------------------

In [2]:
# ----------------------------------------------------------------------
# Import of required packages ------------------------------------------
# ----------------------------------------------------------------------

import numpy as np      # multi-dimensional arrays
import pandas as pd     # data analysis

#import matplotlib.pyplot as pp    # visualize data
#import seaborn         # more aesthetic matplotlib statistical graphics 
#import zipfile         # uncompress zip archive into  current directory
#matplotlib inline      # keep our graphs inline

In [3]:
# ----------------------------------------------------------------------
# Import of data files -------------------------------------------------
# ----------------------------------------------------------------------

# Naming of raws:

dt_Rt1_rows = ['CountyOrigin','MunicipalityOrigin',
               'DestinationCounty','DestinationMunicipality',
               'DirectionalCategories','UsingRt1',
               'DirectionRt1','TotalCommunters',
               'Car_truck_or_van_Carpooled',
               'Car_truck_or_van_Drove_alone','Grand Total','Check',
               'A','B','C','D','E','F','G','H','I','J','K','L','M',
               'N','O','P','Q','R','S','T','U','V','W','X','Y','Z']

# Updload of data in csv file:

dt_Rt1 = pd.read_csv('Route1Analysis.csv', names = dt_Rt1_rows, 
                    skiprows = 1, na_values = ['.'])

In [4]:
# ----------------------------------------------------------------------
# DataFrame cleanup ----------------------------------------------------
# ----------------------------------------------------------------------

# Replacement of missing data by zeros:

dt_Rt1.fillna(0, inplace=True);

# Conversion of objects into categories for better handling:

dt_Rt1["UsingRt1"] = dt_Rt1["UsingRt1"].astype("category")
dt_Rt1["UsingRt1"].cat.set_categories(["a","c","u"],inplace=True)

dt_Rt1["DirectionRt1"] = dt_Rt1["DirectionRt1"].astype("category")
dt_Rt1["DirectionRt1"].cat.set_categories(["North","South","-"],inplace=True)


# Check of variable types:

#print(dt_Rt1['UsingRt1'].dtypes)
#print(dt_Rt1['DirectionRt1'].dtypes)
#print(dt_Rt1['Z'].dtypes)

In [5]:
# Printing of number of lines and 2 first results:

print("Route 1 data = ",dt_Rt1.size,"lines\n")
#print(dt_Rt1.head(3),"\n")

Route 1 data =  13110 lines

In [6]:
# ----------------------------------------------------------------------
# Pivot calculations ---------------------------------------------------
# ----------------------------------------------------------------------
   
# Comments:
#   use fill_value to set NaN values to 0.
#   use aggfunc=np.sum to make the sum of values (not the average value)
#   use margines=True to get the totals

In [7]:
# ----------------------------------------------------------------------
# IN_data

# IN_data: pivot table calculation

#dt_Rt1_rows = ['CountyOrigin','MunicipalityOrigin',
#               'DestinationCounty','DestinationMunicipality',
#               'DirectionalCategories','UsingRt1',
#               'DirectionRt1','TotalCommunters',
#               'Car_truck_or_van_Carpooled',
#               'Car_truck_or_van_Drove_alone','Grand Total','Check',
#               'A','B','C','D','E','F','G','H','I','J','K','L','M',
#               'N','O','P','Q','R','S','T','U','V','W','X','Y','Z']


dt_Rt1_pivot_table = dt_Rt1.pivot_table(
                index=["DirectionRt1",
                       "MunicipalityOrigin",
                       "DestinationMunicipality"],
                values=["TotalCommunters",
                        "Car_truck_or_van_Carpooled",
                        "Car_truck_or_van_Carpooled",
                        "A","B","C","D","E","F","G","H","I","J","K",
                        "L","M","N","O","P","Q","R","S","T","U","V",
                        "W","X","Y","Z"],
                aggfunc=[np.sum])
                                     
#dt_Rt1_pivot_table

In [8]:
# ----------------------------------------------------------------------

dt_Rt1_pivot_table_1 = dt_Rt1.pivot_table(
                index=["MunicipalityOrigin","DirectionRt1","UsingRt1"],
                values=["A","B","C","D","E","F","G","H","I","J","K",
                        "L","M","N","O","P","Q","R","S","T","U","V",
                        "W","X","Y","Z"],
                aggfunc=[np.sum],
                margins=True)
                                     
#dt_Rt1_pivot_table_1.query('UsingRt1 == ["u"]')

In [9]:
# ----------------------------------------------------------------------

dt_Rt1_pivot_table_2 = dt_Rt1.pivot_table(
                index=["DirectionRt1","UsingRt1"],
                values=["A","B","C","D","E","F","G","H","I","J","K",
                        "L","M","N","O","P","Q","R","S","T","U","V",
                        "W","X","Y","Z"],
                aggfunc=[np.sum],
                margins=True)
                                     
#South_u = dt_Rt1_pivot_table_2.query('DirectionRt1 == ["South"]').query('UsingRt1 == ["u"]')
#North_u = dt_Rt1_pivot_table_2.query('DirectionRt1 == ["North"]').query('UsingRt1 == ["u"]')

dt_Rt1_pivot_table_2.query('UsingRt1 == ["u"]')

                          sum                                                 \
                            A       B      C       D       E       F       G
DirectionRt1 UsingRt1
North        u         1015.0  1015.0  710.0  2305.0  2350.0  2120.0  2120.0
South        u         1215.0  1215.0  810.0  1725.0  1700.0  1460.0  1460.0

                                              ...                           \
                            H       I       J ...        Q       R       S
DirectionRt1 UsingRt1                         ...
North        u         2223.0  2601.0  2530.0 ...   1470.0  1470.0  1045.0
South        u         1513.0  2001.0  2030.0 ...   1455.0  1455.0  1270.0


                            T       U       V       W       X      Y    Z
DirectionRt1 UsingRt1
North        u         1045.0  1095.0  1095.0  1095.0  1045.0  675.0  0.0
South        u         1420.0  1420.0  1420.0  1420.0  1420.0  670.0  0.0

[2 rows x 26 columns]